<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Project Details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Phone</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Survey Link</th>
                    <th scope="col">Meta Data</th>
                </tr>
            </thead>
            <tbody>
                <% contacts.forEach(function(contact) { %>
                    <tr>
                        <td><%= contact.phone %></td>
                        <td><%= contact.fname %></td>
                        <td><%= contact.lname %></td>
                        <td><%= contact.surveyLink %></td>
                        <td><%= JSON.stringify(contact.metaData) %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/dispatch" class="btn btn-primary">Back to Dispatch</a>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>